@keyframes pulse {
  0%,100% {
    background-color: #262f3c;
  }
  25% {
    background-color: #03224f;
  }
  50% {
    background-color: #1e3f6e ;
  }
  75% {
    background-color: #0B3D91;
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: pulse 20s infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
